/* 今日最新新闻 */
.Latest-news .con-main-wrap {
  margin: 30px auto;
}

.Latest-news .con-main-wrap h3 {
  padding: 20px 0;
  border-top: 5px solid #007c36;
  font-size: 30px;
  @media (max-width: 1300px) {
    text-align: center;
  }
}

.Latest-news .con-main-wrap .card-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 30px;
  @media (max-width: 1300px) {
    flex-decoration: column;
    flex-wrap: wrap;
    padding: 20px;
  }
}

.Latest-news .con-main-wrap .card-list .card-item {
  width: 30%;
  display: flex;
  align-items: flex-start;
  @media (max-width: 1300px) {
    width: 100%;
    margin: 30px 0;
  }
}

.Latest-news .con-main-wrap .card-list .card-item .left-time {
  padding: 10px;
  background: #dbdbdb;
  text-align: center;
}
.Latest-news .con-main-wrap .card-list .card-item .left-time h4 {
  color: red;
  font-size: 30px;
}
.Latest-news .con-main-wrap .card-list .card-item .left-time span {
}
.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap {
  padding: 0 20px;
}
.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap .title {
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap .text {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
/* 新闻加图片展示区域 */
.card-img-text h5 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
  color: #007c36;
}
.card-img-text .con-main-wrap {
  margin: 46px auto 57px;
  display: flex;
  align-items: flex-start;
  @media (max-width: 1300px) {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 auto;
    flex-direction: column;
  }
}

.card-img-text .con-main-wrap .img-left-wrap {
  width: 786px;
  @media (max-width: 1300px) {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}
.card-img-text .con-main-wrap .img-left-wrap img {
  width: 786px;
  @media (max-width: 1300px) {
    width: 100%;
  }
}

.card-img-text .con-main-wrap .img-left-wrap h5 {
  margin: 24px 0 14px;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @media (max-width: 1300px) {
    font-size: 23px;
    margin: 20px 0 10px;
    color: #006e2f;
    padding: 0 16px;
  }
}
.card-img-text .con-main-wrap .img-left-wrap .img-left-wrap-label {
  @media (max-width: 1300px) {
    padding: 20px 16px 30px;
    font-size: 14px;
    border-bottom: 1px solid #999;
  }
}

.card-img-text .con-main-wrap .img-left-wrap .label {
  padding: 0;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  @media (max-width: 1300px) {
    padding: 0 16px;
    font-size: 14px;
  }
}

.card-img-text .con-main-wrap .text-right-wrap {
  padding: 0 0 0 53px;
  @media (max-width: 1300px) {
    padding: 0;
  }
}

.card-img-text .con-main-wrap .text-right-wrap .text-item {
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
  @media (max-width: 1300px) {
    padding: 20px;
    border-top: 0;
    margin-bottom: 0;
  }
}
.card-img-text .con-main-wrap .text-right-wrap .text-item .label {
  padding: 0 16px;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card-img-text .con-main-wrap .text-right-wrap .more {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1300px) {
    padding: 30px 16px 0;
  }
}

.card-img-text .con-main-wrap .text-right-wrap .info {
  color: #276fda;
  font-size: 16px;
  font-weight: 500;
}

/* 总新闻 */
.history-news {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    width: 100%;
    margin-top: 30px;
  }
}
.history-news h5 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
  color: #007c36;
}
.history-news .news-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    background: #f3f3f3;
  }
  @media (max-width: 1300px) {
    padding: 10px 20px;
  }
}
.history-news .news-item .label {
  display: flex;
  align-items: center;
  width: 80%;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.history-news .news-item .label p {
  line-height: 30px;
  font-size: 14px;
  color: #333;
  width: 90%;
  @media (max-width: 1300px) {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.history-news .news-item .one-span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 20px;
  border-radius: 50%;
  background: #007e37;
}
.history-news .news-item .two-span {
  color: #999999;
  width: 100px;
  text-align: left;
  font-size: 14px;
  @media (max-width: 1300px) {
    display: none;
  }
}
