/* 今日最新新闻 */
.Latest-news .con-main-wrap {
  margin: 30px auto;
}

.Latest-news .con-main-wrap h3 {
  padding: 20px 0;
  border-top: 5px solid #007c36;
  font-size: 30px;
  @media (max-width: 1300px) {
    text-align: center;
  }
}
.label p {
  color: #333;
  font-family: times new roman, serif;
  font-size: 19px;
  line-height: 32px;
}
/* 总新闻 */

#demo-laypage-pn-show {
  display: none;
  @media (max-width: 1300px) {
    display: block;
  }
}

//最新学院要闻
.home-events {
}
.home-events .con-main-wrap h3 {
  font-size: 28px;
  text-align: center;
  margin-top: 180px;
}
.home-events .con-main-wrap .info-label {
  text-align: center;
  padding: 20px 0 20px 0;
  color: #333;
  font-family: times new roman, serif;
  font-size: 19px;
  line-height: 32px;
  border-bottom: 1px solid #d6d6d6;
}
.home-events .card-list {
  padding: 80px;
  gap: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-events .card-list .card-item {
  width: 28%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &:hover {
    transition: transform 2s ease;
    transform: scale(1.1);
  }
}
.home-events .card-list .card-item img {
  width: 100%;
  height: 194px;
  border-radius: 12px 12px 0 0;
}
.home-events .card-list .card-item .info {
  padding: 20px;
}
.home-events .card-list .card-item .info .title {
  font-size: 16px;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-events .card-list .card-item .info .label {
  padding: 10px 0 0;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
