/* banner */

/*内容区域  */
.notice-body {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.notice-body h5 {
  text-align: center;
  margin: 30px 0 10px 30px;
  font-size: 26px;
  color: #007c36;
}
.notice-body .news-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    background: #f3f3f3;
  }
  @media (max-width: 1300px) {
    padding: 10px 20px;
  }
}
.notice-body .news-item .label {
  display: flex;
  align-items: center;
  width: 80%;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.notice-body .news-item .label p {
  line-height: 30px;
  font-size: 16px;
  color: #333;
  width: 90%;
  @media (max-width: 1300px) {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.notice-body .news-item .one-span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 20px;
  border-radius: 50%;
  background: #007e37;
}
.notice-body .news-item .two-span {
  color: #999999;
  width: 100px;
  text-align: left;
  font-size: 14px;
  @media (max-width: 1300px) {
    display: none;
  }
}
