.new-body-news {
  width: 1200px;
  margin: auto;
  padding: 0 0 50px;
}
.new-body-news h5 {
  text-align: center;
  font-size: 24px;
  color: #007306;
  font-weight: 700;
}

p {
  color: #333;
  font-family: times new roman, serif;
  font-size: 19px;
  line-height: 32px;
}
#demo-laypage-pn-show {
  display: none;
  @media (max-width: 1300px) {
    display: block;
  }
}
.info-label {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 0 20px 0;
}
