* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1b;
}
h3 {
  font-weight: 700;
  color: #007306;
}
.con-main-wrap {
  width: 1200px;
  margin: 0 auto;
}
.info-label {
  color: #333;
  font-size: 20px;
  line-height: 32px;
}
/* 头部导航 */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.header-wrap .tabbar {
  display: flex;
  justify-content: flex-end;
  background: #007306;
  padding: 10px 83px;
  gap: 40px;
}
.header-wrap .tabbar li a {
  color: #fff;
  font-size: 12px;
}
.header-wrap .tabbar li a img {
  width: 15px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.header-wrap .pages-nav-wrap {
  background: #fafafa;
  padding: 10px 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap .pages-nav-wrap .logo {
  height: 70px;
}
.header-wrap .pages-nav-wrap .layui-bg-gray {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap .pages-nav-wrap .layui-nav li {
  cursor: pointer;
}
.header-wrap .pages-nav-wrap .layui-nav li a {
  font-size: 14px;
  font-weight: bold;
}
.header-wrap .pages-nav-wrap .layui-nav li a img {
  width: 20px;
}
.header-wrap .pages-nav-wrap .layui-nav li .layui-nav-child {
  padding: 0;
}
.header-wrap .pages-nav-wrap .layui-nav li .layui-nav-child dd {
  min-width: 150px;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}
.header-wrap .pages-nav-wrap .layui-nav li .layui-nav-child dd a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap .pages-nav-wrap .layui-nav li .layui-nav-child dd a:hover {
  background: #007e37;
  color: #fff;
}
/* 头部导航移动端 */
.header-wrap .pages-nav-wrap .phone-nav-wrap {
  display: none;
}

.header-wrap .pages-nav-wrap .phone-nav-wrap .layui-btn {
  background: #fff;
}
.header-wrap .pages-nav-wrap .phone-nav-wrap .layui-btn img {
  height: 30px;
  margin-bottom: 5px;
}

.phone-children-nav-wrap {
  display: none;
}
.phone-children-nav-wrap .layui-tab .layui-tab-title {
  display: flex;
  justify-content: space-around;
}
.phone-children-nav-wrap .layui-tab .layui-tab-title li {
  padding: 0;
}
.phone-children-nav-wrap .layui-tab .layui-tab-title li a {
  padding: 0;
  margin: 0;
}
.global-banner {
  margin: 130px 0 35px;
  position: relative;
  height: 300px;
}
.global-banner .bg {
  background-image: url("../img/global/banner.png"), url("../img/global/footer-bg.png"), url("../img/global/school.png");
  background-position: 0 0, 42% 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 30% 100%, 40% 100%, 40% 100%;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.global-center-wrap {
  display: flex;
  gap: 30px;
  width: 1288px;
  margin: 0 auto 50px;
  min-height: 600px;
}
.global-center-wrap .left-nav {
  border: 1px solid #dbdbdb;
  border-bottom: 0;
}
.global-center-wrap .left-nav .layui-nav {
  background: #fff;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-child {
  padding: 0;
}
.global-center-wrap .left-nav .layui-nav-tree {
  width: 226px;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-this a {
  color: #fff !important;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-nav-item a {
  color: #000;
  border-bottom: 1px solid #eee;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-nav-item a img {
  height: 20px;
}
.global-center-wrap .left-nav .layui-nav .top-nav {
  background-color: #16baaa;
  padding: 9px 0;
  text-align: center;
  font-size: 18px;
  color: #fff !important;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-more {
  top: -13px;
  font-size: 14px;
  right: 6px;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-itemed .layui-this a {
  color: #007306 !important;
  background: #fff;
  font-weight: 500;
}
.global-center-wrap .right-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.global-center-wrap .right-wrap .layui-breadcrumb a cite {
  color: #007306;
  font-weight: 700;
}
.global-center-wrap .right-wrap .nav-wrap {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007306;
  font-size: 22px;
  color: #007306;
}

.global-news-info-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #dbdbdb;
}
.global-news-info-time:hover {
  background: #f3f3f3;
}
.global-news-info-time .label {
  display: flex;
  align-items: center;
  width: 80%;
}
.global-news-info-time .label p {
  line-height: 30px;
  font-size: 14px;
  color: #333;
  width: 90%;
}
.global-news-info-time .one-span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 20px;
  border-radius: 50%;
  background: #007e37;
}
.global-news-info-time .two-span {
  color: #999999;
  width: 100px;
  text-align: left;
  font-size: 14px;
}

.footer-wrap {
  position: relative;
  padding: 100px 0;
}
.footer-wrap .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: brightness(0.6) blur(2px);

  background: url("../img/global/footer-bg.png");
  background-size: 100% 100%;
  z-index: -1;
}
.footer-wrap .cen-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-wrap .cen-wrap .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  gap: 50px;
}
.footer-wrap .cen-wrap .nav-list .nav-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-wrap .cen-wrap .nav-list .nav-item:last-child {
  margin-right: auto;
}

.footer-wrap .cen-wrap .nav-list .nav-item a {
  color: #eee;
  font-size: 14px;
}
.footer-wrap .cen-wrap .nav-list .nav-item a:nth-child(1) {
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .con-main-wrap {
    width: 100%;
  }
  .info-label {
    font-size: 14px;
  }
  .header-wrap .tabbar {
    padding: 10px;
  }
  .header-wrap .tabbar li a img {
    margin-bottom: 0px;
  }
  .header-wrap .pages-nav-wrap {
    padding: 0 10px 0 20px;
  }
  .header-wrap .pages-nav-wrap .logo {
    width: 90%;
  }
  .header-wrap .pages-nav-wrap .layui-bg-gray {
    padding-right: 0;
    display: none;
  }
  .header-wrap .pages-nav-wrap .phone-nav-wrap {
    display: block;
  }

  .phone-children-nav-wrap {
    display: block;
  }
  .global-banner {
    margin: 110px 0 0;
  }
  .global-banner .bg {
    background: url("../img/global/banner.png");
    background-size: cover;
    background-position: center;
  }
  .global-banner h3 {
    font-size: 20px;
    line-height: 150px;
  }
  .global-center-wrap {
    width: 100%;
  }
  .global-center-wrap .left-nav {
    display: none;
  }
  .global-center-wrap .right-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .global-center-wrap .right-wrap .nav-wrap {
    display: none;
  }
  .global-news-info-time {
    padding: 20px 0;
  }
  .global-news-info-time .label {
    width: 100%;
  }
  .global-news-info-time .label p {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .global-news-info-time .one-span {
    display: none;
  }
  .global-news-info-time .two-span {
    display: none;
  }
  .footer-wrap .bg {
    background-size: cover;
  }
  .footer-wrap .cen-wrap .logo {
    width: 80%;
  }
  .footer-wrap .cen-wrap .logo img {
    width: 100%;
  }

  .footer-wrap .cen-wrap .nav-list {
    gap: 50px 0;
  }
  .footer-wrap .cen-wrap .nav-list .nav-item {
    width: 30%;
  }
}
