* {
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1b;
}
h3 {
  font-weight: 700;
  color: #007306;
}
/* 通用的样式 */
.con-main-wrap {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    width: 100%;
  }
}

.info-label {
  color: #333;
  font-family: times new roman, serif;
  font-size: 20px;
  line-height: 32px;
  text-indent: 37px;
}

/* 全局头部导航 */
.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.header-nav .language .nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #007306;
}
.header-nav .language .nav ul {
  display: flex;
  gap: 40px;
}
.header-nav .language .nav ul li a {
  color: #fff;
  font-size: 10px;
}
.header-nav .language .nav ul li a img {
  width: 15px;
  margin-left: 5px;
  margin-bottom: 3px;
}
/* 全局头部导航区域 页面nav导航 */
.header-nav .nav-wrap {
  background: #fafafa;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-wrap .logo {
  margin-left: 83px;
  height: 70px;
}
.header-nav .nav-wrap .layui-nav {
}
.header-nav ul {
  padding-right: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav .nav-wrap ul li {
  cursor: pointer;
}
.header-nav .nav-wrap ul li a {
  font-size: 14px;
  font-weight: bold;
}
.header-nav .nav-wrap ul li a img {
  width: 20px;
}
.header-nav .nav-wrap .layui-nav-child {
  padding: 0;
}
.header-nav .nav-wrap .layui-nav-child dd {
  min-width: 150px;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}
.header-nav .nav-wrap .layui-nav-child dd a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background: #007e37;
    color: #fff;
  }
}
/* 通用组件的的页面样式 banner 导航 data */
.global-banner {
  margin: 130px 0 35px;
  height: 300px;
  position: relative;
}
.global-banner .bg {
  background: url("../img/global/banner.png");
  background-size: contain;
  filter: brightness(0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.global-banner h3 {
  line-height: 300px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
/* 中间展示内容的样式 */
.global-center-wrap {
  display: flex;
  gap: 30px;
  width: 1288px;
  margin: 0 auto 50px;
  min-height: 600px;
}
/* 组件左边的二级菜单 */
.global-center-wrap .left-nav {
  border: 1px solid #dbdbdb;
  border-bottom: 0;
}
.global-center-wrap .left-nav .layui-nav {
  background: #fff;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-child {
  padding: 0;
}
.global-center-wrap .left-nav .layui-nav-tree {
  width: 226px;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-this a {
  color: #fff !important;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-nav-item a {
  color: #000;
  border-bottom: 1px solid #eee;
}
.global-center-wrap .left-nav .layui-nav-tree .layui-nav-item a img {
  height: 20px;
}
.global-center-wrap .left-nav .layui-nav .top-nav {
  background-color: #16baaa;
  padding: 9px 0;
  text-align: center;
  font-size: 18px;
  color: #fff !important;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-more {
  top: -13px;
  font-size: 14px;
  right: 6px;
}
.global-center-wrap .left-nav .layui-nav .layui-nav-itemed .layui-this a {
  color: #007306 !important;
  background: #fff;
  font-weight: 500;
}

/* 右边展示的内容 */
.global-center-wrap .right-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.global-center-wrap .right-wrap .layui-breadcrumb a cite {
  color: #007306;
  font-weight: 700;
}
.global-center-wrap .right-wrap .nav-wrap {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007306;
}
.global-center-wrap .right-wrap .nav-wrap h5 {
  font-size: 22px;
  order: 0;
  margin: 0;
  color: #007306;
}
//包含折叠的导航
.top-nav {
  background: #16baaa;
}
/* 全局通用新闻表格样式 左边圆圈符号 中间文字 右边时间 */
.global-news-info-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    background: #f3f3f3;
  }
}
.global-news-info-time .label {
  display: flex;
  align-items: center;
  width: 80%;
}
.global-news-info-time .label p {
  line-height: 30px;
  font-size: 14px;
  color: #333;
  width: 90%;
}
.global-news-info-time .one-span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 20px;
  border-radius: 50%;
  background: #007e37;
}
.global-news-info-time .two-span {
  color: #999999;
  width: 100px;
  text-align: left;
  font-size: 14px;
}

/* 全局底部的样式 */
.footer {
}
.footer-wrap {
  filter: brightness(0.15);
}
.footer .cen-wrap {
  position: relative;
}
.footer .cen-wrap .bg-filter-wrap {
  padding: 200px 80px 450px;
  background: url("../img/global/footer-bg.png");
  background-size: 100% 100%;
}
.footer .cen-wrap .text-wrap {
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 100px;
  box-sizing: border-box;
}
.footer .cen-wrap .text-wrap img {
  height: 100px;
}

.footer .cen-wrap .text-wrap .cen-text {
  display: flex;
  gap: 50px;
}
.footer .cen-wrap .text-wrap .cen-text .nav-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .cen-wrap .text-wrap .cen-text .nav-item a {
  color: #ccc;
  font-size: 14px;
  &:nth-child(1) {
    font-size: 20px;
  }
}
