.swiper {
  position: relative;
  padding-top: 130px;
}
.swiper .layui-carousel {
  background: transparent;
}
.swiper .layui-carousel .swiper-blur {
  position: relative;
  background: transparent;
}
.swiper .layui-carousel .swiper-blur .bg {
  background: url("../img/global/banner.png");
  background-size: 50% auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.3);
}
.swiper .layui-carousel .swiper-blur .swiper-item {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-video {
  margin-top: 60px;
}
.home-video .con-main-wrap h3 {
  font-size: 28px;
}
.home-video .con-main-wrap .video-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.home-video .con-main-wrap .video-list .video-item {
  width: 45%;
}
.home-video .con-main-wrap .video-list .video-item video {
  width: 100%;
}

.home-video .con-main-wrap .video-list .info-wrap {
  position: relative;
  flex: 1;
}
.home-video .con-main-wrap .video-list .info-wrap .info-label {
  font-size: 16px;
}
.home-video .con-main-wrap .video-list .info-wrap .btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.home-video .con-main-wrap .video-list .info-wrap .btn img {
  height: 15px;
}

.home-research {
  margin-top: 60px;
}

.home-research .con-main-wrap h3 {
  font-size: 28px;
}
.home-research .con-main-wrap .info-label {
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
.home-research .con-main-wrap .card-list {
  padding: 60px 0 80px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.home-research .con-main-wrap .card-list .card-item {
  position: relative;
  width: 31%;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-research .con-main-wrap .card-list .card-item:hover {
  transform: scale(1.1);
}

.home-research .con-main-wrap .card-list .card-item .top-img {
  height: 248px;
  filter: brightness(0.6);
}
.home-research .con-main-wrap .card-list .card-item .top-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
}
.home-research .con-main-wrap .card-list .card-item .text-wrap {
  border-top: 1px solid #d6d6d6;
  padding: 20px 20px 40px;
}
.home-research .con-main-wrap .card-list .card-item .text-wrap .title {
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-research .con-main-wrap .card-list .card-item:hover a {
  color: #007306;
}
.home-research .con-main-wrap .card-list .card-item .text-wrap .btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.home-research .con-main-wrap .card-list .card-item .text-wrap .btn img {
  height: 15px;
}
.home-events {
  margin: 30px 0 50px;
}
.home-events .con-main-wrap h3 {
  font-size: 28px;
}
.home-events .con-main-wrap .card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 30px;
}
.home-events .con-main-wrap .card-list .card-item {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  transition: transform 2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-events .con-main-wrap .card-list .card-item:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: #007306;
}
.home-events .con-main-wrap .card-list .card-item:hover a {
  color: #fff;
}
.home-events .con-main-wrap .card-list .card-item img {
  width: 100%;
  height: 256px;
}
.home-events .con-main-wrap .card-list .top-wrap {
  width: 100%;
  display: flex;
  gap: 24px;
}
.home-events .con-main-wrap .card-list .top-wrap .card-item img {
  height: 388px;
}
.home-events .con-main-wrap .card-list .card-item .text-wrap {
  padding: 20px 16px 50px;
}
.home-events .con-main-wrap .card-list .card-item .text-wrap .title {
  font-size: 24px;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-events .con-main-wrap .card-list .card-item .text-wrap .events-nav {
  position: absolute;
  right: 22px;
  bottom: 15px;
}
.home-events .con-main-wrap .card-list .card-item .text-wrap .events-nav img {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 1200px) {
  .swiper {
    padding-top: 110px;
  }
  .swiper .layui-carousel {
    height: 300px !important;
  }
  .home-video {
    padding: 20px 16px;
    margin: 0;
  }
  .home-video .con-main-wrap h3 {
    text-align: center;
  }
  .home-video .con-main-wrap .video-list {
    flex-direction: column;
    margin-top: 20px;
  }
  .home-video .con-main-wrap .video-list .video-item {
    width: 100%;
  }
  .home-research {
    padding: 20px 16px;
    margin: 0;
  }
  .home-research .con-main-wrap h3 {
    text-align: center;
  }
  .home-research .con-main-wrap .card-list {
    padding: 20px 0;
  }
  .home-research .con-main-wrap .card-list .card-item {
    width: 100%;
    max-width: 400px;
  }
  .home-research .con-main-wrap .card-list .card-item .top-img {
    height: 300px;
  }
  .home-events {
    margin: 0;
  }
  .home-events .con-main-wrap h3 {
    text-align: center;
  }
  .home-events .con-main-wrap .card-list {
    flex-direction: column;
    padding: 0 20px 20px;
  }
  .home-events .con-main-wrap .card-list .card-item {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .home-events .con-main-wrap .card-list .top-wrap {
    flex-direction: column;
  }
  .home-events .con-main-wrap .card-list .top-wrap .card-item img {
    width: 100%;
    height: 256px;
  }
}
