/* 导航 */
/* 顶部导航区域 */
.header-nav {
  padding: 10px 24px;
  background: #fcfdf7;
  display: flex;
  justify-content: space-between;
}
.header-nav ul {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.header-nav ul li {
  margin-left: 40px;
  cursor: pointer;
}
.header-nav ul li a {
  margin-right: 10px;
}

/* banner */
.news-banner img {
  width: 100%;
}
/* 今日最新新闻 */
.Latest-news .con-main-wrap {
  margin: 30px auto;
}

.Latest-news .con-main-wrap h3 {
  padding: 20px 0;
  border-top: 5px solid #007c36;
  font-size: 30px;
}

.Latest-news .con-main-wrap .card-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 30px;
}

.Latest-news .con-main-wrap .card-list .card-item {
  width: 30%;
  display: flex;
  align-items: flex-start;
}

.Latest-news .con-main-wrap .card-list .card-item .left-time {
  padding: 10px;
  background: #999;
  text-align: center;
}
.Latest-news .con-main-wrap .card-list .card-item .left-time h4 {
  color: #007c36;
  font-size: 30px;
}
.Latest-news .con-main-wrap .card-list .card-item .left-time span {
}
.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap {
  padding: 0 20px;
}
.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap .title {
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.Latest-news .con-main-wrap .card-list .card-item .right-text-wrap .text {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
