.down-banner img {
  width: 100%;
}
/* 内容 */
.campus-body {
}
.campus-body .con-main-wrap {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.campus-body .con-main-wrap .body-right-wrap {
  /* width: 930px; */
  width: 100%;
  padding-top: 60px;
  text-align: center;
}
.campus-body .con-main-wrap .body-right-wrap h5 {
  font-size: 26px;
  color: #00753c;
  margin-bottom: 35px;
}
.down-card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 30px 0;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
  &:hover {
    background: #f3f3f3;
    color: red;
  }
}
.down-card-item .info {
  display: flex;
  align-items: center;
}
.down-card-item .info span {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background: #0b7b44;
}
.down-card-item .info .admiss-label {
}
.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 100px;
}
.page-item .kuang {
  border: 1px solid #ccc;
  padding: 4px 10px;
  color: #dbdbdb;
  font-size: 13px;
}
.page-item .num {
  padding: 3px 20px;
  margin: 0 3px;
  color: #fff;
  background: #888888;
}
