/* banner */
.down-banner {
  width: 100%;
  padding: 330px 0 200px;
  background: url("../../img/adimissions/banner.png");
  background-size: 100% 100%;
  @media (max-width: 1300px) {
    padding: 130px 0;
  }
}
.down-banner h4 {
  font-size: 40px;
  color: #fff;
  text-align: center;
}
/* 内容 */

.campus-body .con-main-wrap {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.campus-body .con-main-wrap .body-right-wrap {
  /* width: 930px; */
  width: 100%;
  padding: 60px 0 30px;
  text-align: center;
  @media (max-width: 1300px) {
    padding: 20px 0;
  }
}
.campus-body .con-main-wrap .body-right-wrap h5 {
  font-size: 26px;
  color: #00753c;
  margin-bottom: 35px;
  @media (max-width: 1300px) {
    font-size: 20px;
  }
}
.down-card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 30px 0;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
  &:hover {
    background: #f3f3f3;
    color: #276fda;
  }
  @media (max-width: 1300px) {
    margin: 0;
  }
}
.down-card-item .info {
  display: flex;
  align-items: center;
}
.down-card-item .info .admiss-label {
  @media (max-width: 1300px) {
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.down-card-item .info span {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background: #0b7b44;
}
.down-card-item .down-img-text {
  @media (max-width: 1300px) {
    display: none;
  }
}
