/* 左边图片右边文字介绍 */
.campus-card {
  margin: 26px 0 50px;
}
.campus-card .con-main-wrap {
  @media (max-width: 1300px) {
    width: 100%;
  }
}
.campus-card .card-list .label {
  font-size: 24px;
  font-weight: 700;
  color: #006e2f;
  margin: 20px 0 36px;
  @media (max-width: 1300px) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.campus-card .card-list .card-item {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #dbdbbd;
  justify-content: space-between;
}
.campus-card .card-list:nth-child(2) .card-item a {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.campus-card .card-list .card-item img {
  width: 580px;
  height: 300px;
  @media (max-width: 1300px) {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
}
.campus-card .card-list .card-item .label {
  width: 600px;
  box-sizing: border-box;
  padding: 0 0 0 30px;
  font-size: 18px;
  color: #333;
  @media (max-width: 1300px) {
    display: none;
  }
}
