/* banner区域 */
.campus-banner {
  display: flex;
}
.campus-banner .bg-color {
  width: 40%;
  background-color: #eea923;
  padding: 221px 0 229px;
}
.campus-banner img {
  width: 60%;
}
.campus-banner .bg-color h4 {
  font-size: 30px;
  color: #fff;
  text-align: right;
  margin-right: 40px;
}
/* 内容区域 */

.campus-body .con-main-wrap {
  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    width: 100%;
  }
}

.campus-body .con-main-wrap .top-label {
  color: #006e2f;
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;

  @media (max-width: 1300px) {
    width: 90%;
    margin: 38px auto 22px;
    max-width: 600px;
    font-size: 14px;
  }
}
.campus-body .con-main-wrap .img-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
  gap: 25px 0;
}
.campus-body .con-main-wrap .img-list .img-item {
  width: 32%;
  position: relative;
}
.campus-body .con-main-wrap .img-list .img-item img {
  width: 100%;

  &:hover {
    filter: brightness(50%);
  }
}
.campus-body .con-main-wrap .img-list .img-item p {
  position: absolute;
  bottom: 0px;
  padding: 10px 10px 0;
  background-color: #eea923;
  color: #fff;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* sport-body */
.sport-body .banner {
  background: url("../../img/campus/sport/banner.png");
  padding: 127px 0 167px;
  margin-top: 83px;
}
.sport-body .banner h4 {
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.sport-body .card-list {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 134px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: 0 0 30px;
  }
}

.sport-body .card-list .card-item {
  width: 49%;
  display: flex;
  padding: 39px 0;
  border-top: 1px solid #d8d8d8;

  @media (max-width: 1300px) {
    width: 100%;
    padding: 16px 20px 0;
    flex-direction: column-reverse;
    border-top: 0;
  }
}

.sport-body .card-list .card-item img {
  width: 180px;
  height: 120px;
  @media (max-width: 1300px) {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
}
.sport-body .card-list .card-item .text-wrap {
  @media (max-width: 1300px) {
    width: 100%;
    padding: 25px 16px;
    border-radius: 0 0 6px 6px;
    text-align: center;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
}

.sport-body .card-list .card-item .text-wrap h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 39px 0 0;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @media (max-width: 1300px) {
    font-size: 20px;
    color: #006e2f;
  }
}

.sport-body .card-list .card-item .text-wrap p {
  font-size: 16px;
  margin: 14px 39px 0 0;
  color: #999;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  @media (max-width: 1300px) {
    margin: 14px 0 0;
    font-size: 14px;
  }
}
