/* 顶部颜色 */

.campus-banner .bg-color {
  background-color: #eea923;
  @media (max-width: 1300px) {
    background: #fff;
  }
}
.campus-info-list .img-list .img-item .label {
  background-color: #eea923;
}
/* sport-body */
.sport-body .banner {
  background: url("../../img/campus/sport/banner.png");
  padding: 127px 0 167px;
  margin-top: 83px;
  background-size: 100% 100%;
  @media (max-width: 1300px) {
    margin-top: 10px;
  }
}
.sport-body .banner h4 {
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.sport-body .card-list {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 134px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
  }
}

.sport-body .card-list .card-item {
  width: 49%;
  display: flex;
  padding: 39px 0;
  border-top: 1px solid #d8d8d8;

  @media (max-width: 1300px) {
    width: 100%;
    padding: 0;
    flex-direction: column-reverse;
    border-top: 0;
    margin: 20px 0;
  }
}

.sport-body .card-list .card-item img {
  width: 180px;
  height: 120px;
  @media (max-width: 1300px) {
    width: 100%;
    height: 250px;
    border-radius: 6px 6px 0 0;
  }
}
.sport-body .card-list .card-item .text-wrap {
  @media (max-width: 1300px) {
    width: 100%;
    padding: 25px 16px;
    border-radius: 0 0 6px 6px;
    text-align: center;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
}

.sport-body .card-list .card-item .text-wrap h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 39px 0 0;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @media (max-width: 1300px) {
    font-size: 20px;
    color: #006e2f;
  }
}

.sport-body .card-list .card-item .text-wrap .label {
  margin: 14px 39px 0 0;
  padding: 0;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  @media (max-width: 1300px) {
    margin: 14px 0 0;
    font-size: 14px;
  }
}
