.global-body .layui-nav-item:nth-child(4) a {
  font-size: 14px;
  color: #0b7b44;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .text-item-title {
  margin: 30px 0 10px;
  font-weight: 500;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .admiss-label a {
  color: #00753c;
}
/* 两个图片框 */
.global-body .con-main-wrap .body-wrap .text-right-wrap .top-card-list {
  margin: 20px 0;
  padding: 0 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .top-card-list .card-item {
  padding: 14px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .top-card-list .card-item img {
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .top-card-list .card-item h5 {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
}
/* 表格1 */
.layui-table tr td:nth-child(1) {
  text-align: center;
}
.layui-table tr img {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}
.layui-table tr span {
  color: red;
}
/* 表格2 我是截图当图片的 */
.table-img2 {
  width: 860px;
  margin: 10px 0;
}
.layui-breadcrumb {
  margin: 30px 0;
}
