.global-body .con-main-wrap .body-wrap .text-right-wrap span {
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #000;
  margin-right: 10px;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .text-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 40px 0 10px;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .text-title span {
  width: 5px;
  height: 5px;
}
.global-body .con-main-wrap .body-wrap .text-right-wrap .admiss-label {
  display: flex;
  align-items: center;
}
