.details-progress .center-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 30px;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 20px 40px;
    box-sizing: border-box;
  }
}
.details-progress .center-wrap .nav-wrap {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007306;
}
.details-progress .center-wrap .nav-wrap h5 {
  font-size: 22px;
  order: 0;
  margin: 0;
  color: #007306;
  @media (max-width: 1200px) {
    display: none;
  }
}
.details-progress .center-wrap .nav-wrap .layui-breadcrumb {
  @media (max-width: 1200px) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.details-progress .center-wrap .title {
  text-align: center;
}
.details-progress .center-wrap .title h3 {
  margin: 20px 0;
  font-size: 28px;
}
.details-progress .center-wrap .title .info-label {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
  @media (max-width: 600px) {
    font-size: 16px;
    text-align: left;
  }
}
.details-progress .center-wrap .info-label {
  margin: 20px 0;
  font-size: 16px;
  text-indent: 2em;
}
.details-progress .center-wrap .cen-img {
  text-align: center;
}
.details-progress .center-wrap .cen-img img {
  height: 400px;
  @media (max-width: 1200px) {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}
.details-progress .center-wrap .label {
  margin: 10px 0;
  text-align: center;
  color: #999;
}
.details-progress .center-wrap a {
  color: #007306;
  @media (max-width: 1200px) {
    overflow: hidden;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: times new roman, serif;
  }
}
