.right-wrap .cen-wrap h5 {
  margin-top: 20px;
  color: #007306;
  font-size: 28px;
}

.right-wrap .cen-wrap .title-label {
  font-size: 18px;
  margin: 20px 0;
  font-weight: 500;
}
.right-wrap .cen-wrap .info-label {
  text-align: left;
  text-indent: 2em;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .right-wrap .cen-wrap h5 {
    font-size: 18px;
    margin: 10px 0;
  }
  .right-wrap .cen-wrap .title-label {
    font-size: 16px;
  }
  .right-wrap .cen-wrap .info-label {
    font-size: 14px;
    text-indent: 0;
  }
}
