.right-wrap .cen-wrap .title {
  font-size: 30px;
  font-weight: 500;
  color: #007306;
  margin-top: 10px;
  @media (max-width: 1200px) {
    font-size: 18px;
    margin-top: 0px;
  }
}
.right-wrap .cen-wrap .info-label {
  line-height: 40px;
}
.right-wrap .cen-wrap .title-label {
  font-size: 18px;
  margin: 20px 0;
  font-weight: 500;
}
