/* 展示领导的区域 */
.admin-people {
  width: 1200px;
  margin: 0 auto;
}
.admin-people .admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007e37;
}
.admin-people .admin-title h5 {
  font-size: 22px;
  padding: 20px 0;
}
.admin-people .admin-title .admin-nav-title {
  color: #999;
}
.admin-people .admin-title .admin-nav-title a {
  color: #999;
  font-size: 14px;
}
.admin-people .admin-card-list {
}
.admin-people .admin-card-list .admin-card-item {
  padding: 30px 130px 20px 130px;
  display: flex;
  border-top: 1px solid #dbdbdb;
}
.admin-people .admin-card-list .admin-card-item .left-img-wrap {
  width: 81px;
  height: 113px;
}
.admin-people .admin-card-list .admin-card-item .text-right-wrap {
  margin-left: 30px;
}
.admin-people .admin-card-list .admin-card-item .text-right-wrap .text-name {
  font-size: 20px;
  color: #b29873;
  font-weight: 600;
}
.admin-people .admin-card-list .admin-card-item .text-right-wrap .admin-label {
  font-size: 14px;
  margin-top: 10px;
  line-height: 28px;
}
