.admin-people {
  @media (max-width: 1300px) {
    display: none;
  }
}
.admin-people h5 {
  text-align: center;
  font-size: 25px;
  margin: 30px 0;
}
.global-people-about-title h5 {
  margin: 0;
}
.layui-table {
}
.layui-table th {
  background: #f3f3f3;
  color: #333;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px !important;
}
.layui-table td {
  text-align: center;
  font-weight: 500;
}
.layui-table td:nth-child(4) {
  text-align: left;
  padding-left: 20px;
}
/* 移动端的样式 */
.phone-admin-people {
  display: none;
  @media (max-width: 1300px) {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
.phone-admin-people .phone-people-item .title {
  color: #007e37;
}
.phone-admin-people .phone-people-item .name {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
}

.phone-admin-people .phone-people-item .text-wrap {
  display: flex;
  flex-wrap: wrap;
}
.phone-admin-people .phone-people-item .text-wrap .value {
  padding: 10px;
}
