.down-banner img {
  width: 100%;
}
/* 展示联系我们的区域 */
.admin-people {
  width: 1200px;
  margin: 0 auto 30px;
}

.admin-people h5 {
  text-align: center;
  font-size: 25px;
  margin: 30px 0;
}
.layui-table {
}
.layui-table td {
  text-align: center;
  color: #888888;
}
