.down-banner img {
  width: 100%;
}
/* 展示历史的区域 */
.admin-people {
  width: 1200px;
  margin: 0 auto 30px;
}

/*学校历史介绍 */
.history {
}
.history .title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
}
.history .label {
  color: #333;
  margin: 10px 0;
}
/* 电话传真 */
.coll {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.item-coll {
  color: #00712f;
  line-height: 30px;
}
