.right-wrap .element-wrap .title {
  color: #007306;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
}
.right-wrap .element-wrap .img-label {
  text-align: center;
}
.right-wrap .element-wrap .img-label img {
  height: 400px;
}


@media screen and (max-width: 1400px) {
  .right-wrap .element-wrap .title {
    font-size: 18px;
  }
  .right-wrap .element-wrap .img-label img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

}
