.left-nav .layui-this a {
  color: #fff !important;
}

//右边内容样式.
.right-wrap {
}
.right-wrap .history-wrap .title {
  color: #007306;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
}
.right-wrap .history-wrap .img-label {
  text-align: center;
}
.right-wrap .history-wrap .img-label img {
  height: 400px;
}
.right-wrap .history-wrap .info-label {
  font-size: 16px;
  margin: 10px 0;
}
