.left-nav .layui-this a {
  color: #fff !important;
}

//右边内容样式.
.right-wrap {
}
.right-wrap .admin-card-item {
  padding: 30px 130px 20px 130px;
  display: flex;
  gap: 30px;
  border-top: 1px solid #dbdbdb;
  &:hover {
    background: #dbdbdb;
  }
}
.right-wrap .admin-card-item .left-img-wrap {
  width: 81px;
  height: 113px;
}
.right-wrap .admin-card-item .text-right-wrap .text-name {
  color: #007306;
  font-family: times new roman, serif;
  font-size: 20px;
  line-height: 32px;
}
.right-wrap .admin-card-item .text-right-wrap .admin-label {
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
}
.right-wrap .admin-card-item .text-right-wrap {
}
