.right-wrap .admin-card-item {
  padding: 30px 130px 20px 130px;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    background: #dbdbdb;
  }
  @media ((max-width: 1200px)) {
    padding: 0;
    padding: 20px 0 0 0;
  }
}
.right-wrap .admin-card-item .left-img-wrap {
  width: 81px;
  height: 113px;
  @media ((max-width: 1200px)) {
    display: none;
  }
}
.right-wrap .admin-card-item .text-right-wrap {
  display: flex;
  flex-direction: column;
}
.right-wrap .admin-card-item .text-right-wrap .right-img-wrap {
  display: none;
  @media ((max-width: 1200px)) {
    display: block;
    width: 81px;
    height: 113px;
    margin: 20px auto;
  }
}
.right-wrap .admin-card-item .text-right-wrap .text-name {
  color: #007306;
  font-family: times new roman, serif;
  font-size: 20px;
  line-height: 32px;
}
.right-wrap .admin-card-item .text-right-wrap .admin-label {
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
}
