.right-wrap .admin-card-item {
  padding: 30px 0 20px 30px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-bottom: 1px solid #dbdbdb;
}

.right-wrap .admin-card-item .left-img-wrap {
  width: 81px;
}
.right-wrap .admin-card-item .text-right-wrap {
  display: flex;
  flex-direction: column;
}
.right-wrap .admin-card-item .text-right-wrap .right-img-wrap {
  display: none;
}
.right-wrap .admin-card-item .text-right-wrap .text-name {
  color: #007306;
  font-family: times new roman, serif;
  font-size: 20px;
  line-height: 32px;
}
.right-wrap .admin-card-item .text-right-wrap .admin-label {
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
}

@media screen and (max-width: 1400px) {
  .right-wrap .admin-card-item {
    padding: 20px 0 0;
    flex-direction: column;
  }

  .right-wrap .admin-card-item .text-right-wrap .right-img-wrap {
    display: block;
  }
}
