.global-banner .bg {
  background: url("../../img/global/school.png");
  background-size: 100% 100%;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.left-nav .layui-this a {
  color: #fff !important;
}

.right-wrap {
}
.right-wrap .highlights .title {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: #007306;
  font-weight: 700;
}
