.right-wrap p {
  margin-top: 20px;
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
  @media (max-width: 1200px) {
    margin-top: 10px;
    font-size: 14px;
  }
}
.right-wrap h5 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #007306;
  @media (max-width: 1200px) {
    font-size: 20px;
    margin-top: 10px;
  }
}
.right-wrap .icon-label {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  &::before {
    content: "";
    display: block;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007306;
  }
}
