.global-center-wrap .left-nav .layui-nav.layui-nav-tree .layui-nav-item .layui-nav-child dd:nth-child(1) a {
  background: #103675;
  color: #fff;
  font-size: 20px;
}

.right-wrap {
}
.right-wrap .text-wrap h3 {
  font-size: 28px;
  color: #ff6600;
  margin-top: 42px;
}
.right-wrap p {
  margin-top: 20px;
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
  text-indent: 37px;
}
.right-wrap h5 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #007306;
}
.right-wrap .icon-label {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  &::before {
    content: "";
    display: block;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007306;
  }
}
