.left-nav .layui-this a {
  color: #fff !important;
}

.right-wrap {
}

.right-wrap .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 0 0;
}

.right-wrap .card-list a {
  width: 48%;
  color: #1a1c19;
  transition: transform 2s ease;

  &:hover {
    color: #007306;
    transform: scale(1.1);
  }
}

.right-wrap .card-list a .card-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  border-bottom: 1px solid #dbdbdb;
}
.right-wrap .card-list a .card-item img {
  height: 120px;
  width: 148px;
}

.right-wrap .card-list a .card-item .title {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  font-family: times new roman, serif;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.right-wrap .card-list a .card-item .label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  color: #999;
  font-family: times new roman, serif;
  overflow: hidden;
  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
