.right-wrap h3 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.right-wrap .info-label {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .right-wrap h3 {
    text-align: left;
    margin: 10px 0;
  }
}
