/* 内容区域左边导航 右边切换内容 */
.global-body .layui-nav-item:nth-child(4) a {
  font-size: 20px;
  color: #0b7b44;
}
.layui-breadcrumb {
  margin: 0 0 0 20px;
  display: block;
  @media (max-width: 1300px) {
    padding: 5px 0 0 0;
  }
}
.global-news-info-time {
  @media (max-width: 1300px) {
    border-top: 1px solid #dbdbdb;

    border-bottom: 0;
  }
}
#demo-laypage-pn-show {
  display: none;
  @media (max-width: 1300px) {
    display: block;
  }
}
