/* 内容区域左边导航 右边切换内容 */
.research-body {
}
.global-body .layui-nav-item:nth-child(3) a {
  font-size: 14px;
  color: #0b7b44;
}

/* 右边内容 */
.research-right-wrap .card-list .card-item .title {
  font-size: 20px;
  margin: 20px 0 20px 0;
  font-weight: 700;
  color: #000000;
  @media (max-width: 1300px) {
    margin: 20px 0 0;
    color: #007e37;
  }
}

.research-right-wrap .card-list .card-item .text-wrap .label {
  margin: 20px 0;
  line-height: 150%;
  font-size: 14px;
  color: #333;
  @media (max-width: 1300px) {
    margin: 10px 0 20px 0;
  }
}
.research-right-wrap .card-list .card-item .text-wrap span {
  display: block;

  font-size: 16px;
  font-weight: 500;
  @media (max-width: 1300px) {
    padding: 0;
  }
}
.research-right-wrap .card-list .card-item .text-wrap ul li {
  margin: 20px 0;
  font-size: 14px;
  color: #333;
}
