/* 内容区域左边导航 右边切换内容 */
.global-body .con-main-wrap {
  display: flex;
  @media (max-width: 1300px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
  }
}
/* 右边内容 */

.research-right-wrap h3 {
  font-size: 20px;
  margin: 20px 0 0;
  color: #000000;
  @media (max-width: 1300px) {
    margin: 10px 0 0;
  }
}
.research-right-wrap .label {
  font-size: 14px;
  line-height: 150%;
  margin-top: 20px;
  color: #333;
  @media (max-width: 1300px) {
    margin: 10px 0 0;
  }
}
