/* 内容区域左边导航 右边切换内容 */
.global-body .layui-nav-item:nth-child(2) a {
  font-size: 14px;
  color: #0b7b44;
}

.research-right-wrap h3 {
  font-size: 20px;
  margin: 20px 0 0;
  color: #000000;
  @media (max-width: 1300px) {
    margin: 10px 0 0;
    color: #007e37;
  }
}
.research-right-wrap .label {
  font-size: 14px;
  margin-top: 20px;
  color: #333;
  @media (max-width: 1300px) {
    margin: 10px 0 0;
  }
}
