/* 内容区域左边导航 右边切换内容 */

.global-body .con-main-wrap {
  display: flex;
  @media (max-width: 1300px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
  }
}

/* 右边内容 */
.right-wrap {
  width: 960px;
  padding: 66px 0 56px 36px;
  box-sizing: border-box;
  @media (max-width: 1300px) {
    width: 100%;
    /* padding: 0 20px 30px; */
    padding: 16px 20px;
    box-sizing: border-box;
  }
}
.right-wrap .top-title {
}
.right-wrap .top-title .one-span {
  color: #999;
}
.right-wrap .top-title span {
  @media (max-width: 1300px) {
    font-size: 14px;
  }
}
.right-wrap .progress-list {
  margin-top: 60px;

  @media (max-width: 1300px) {
    margin-top: 20px;
  }
}
.right-wrap .progress-list .progress-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
.right-wrap .progress-list .progress-item .label {
  display: flex;
  align-items: center;
  width: 85%;
}
.right-wrap .progress-list .progress-item .label p {
  width: 90%;
  font-size: 14px;
}
.right-wrap .progress-list .progress-item .one-span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 20px;
  border-radius: 50%;
  background: #007e37;
}
.right-wrap .progress-list .progress-item .two-span {
  color: #999999;
  width: 18%;
  text-align: right;
  font-size: 14px;
}
#demo-laypage-all {
  width: 800px;
  margin: 40px auto 0;
}
