.right-wrap .admin-card-item {
  padding: 30px 0 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
}
.right-wrap .admin-card-item:hover {
  background: #dbdbdb;
}

.right-wrap .admin-card-item .left-img-wrap {
  height: 181px;
  padding-left: 30px;
}
.right-wrap .admin-card-item .text-right-wrap {
  display: flex;
  flex-direction: column;
}
.right-wrap .admin-card-item .text-right-wrap .text-name {
  color: #007306;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.right-wrap .admin-card-item .text-right-wrap .admin-label {
  color: #333;
  font-family: times new roman, serif;
  font-size: 16px;
  line-height: 32px;
}

.right-wrap h5 {
  color: #007306;
  font-size: 28px;
  margin: 25px 0 10px;
}

.right-wrap .title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.right-wrap .info-label {
  font-size: 16px;
  margin: 15px 0;
  text-indent: 0;
}

@media screen and (max-width: 1200px) {
  .right-wrap .admin-card-item {
    gap: 10px;
    padding: 0;
    flex-direction: column;
  }
  .right-wrap .admin-card-item .left-img-wrap {
    padding-left: 0px;
  }
}
