/* banner图片 */

/* 内容区域 */
/* 面包屑 */
.con-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 30px;
}

/* 搜索区域 */
.con-wrap .search-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.con-wrap .search-info .search-people {
  width: 80%;
  padding: 20px 50px;
  border-radius: 30px;
  border: 1px solid #dbdbdb;
  outline: none;
}
.con-wrap .search-info .search-button {
  padding: 20px 0;
  width: 10%;
  border-radius: 30px;
  border: 1px solid skyblue;
  color: #fff;
  background: skyblue;
}
/* 内容分类人的名字拼音导航 */
.people-text-nav {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  background: #b29873;
  margin: 20px 0;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
/* 单元格 左边是分类的拼音 右边是名字*/
.con-wrap .name-item {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-bottom: 1px dashed #d8d8d8;
}
.con-wrap .nav-item {
  font-size: 18px;
  color: #007e37;
  font-weight: 500;
  margin-right: 35px;
}
.con-wrap .name-item .name-text {
  display: flex;
  flex-wrap: wrap;
}
.con-wrap .name-item .name-text a {
  margin: 0 15px;
}
