.right-wrap .szdwul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-radius: 32px;
  margin-top: 20px;
  background-color: #16baaa;
}
.right-wrap .szdwul span a {
  color: #fff;
}
.right-wrap .name-list {
  margin-top: 20px;
}
.right-wrap .name-list .name-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 10px 20px;
  font-family: times new roman, serif;

  border-bottom: 1px dashed #ddd;
}
.right-wrap .name-list .name-item .title {
  color: #16baaa;
  font-weight: 700;
  font-size: 18px;
}
.right-wrap .name-list .name-item .item {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
  margin-top: 2px;
}
.right-wrap .name-list .name-item .item span {
  width: 150px;
}

.right-wrap .name-list .name-item .item span a:hover {
  color: #007306;
}
@media screen and (max-width: 1200px) {
  .right-wrap .szdwul {
    padding: 20px;
  }
}
