.global-center-wrap .left-nav .layui-nav.layui-nav-tree .layui-nav-item .layui-nav-child dd:nth-child(1) a {
  background: #103675;
  color: #fff;
  font-size: 20px;
}

.info-label {
  margin: 10px 0;
}
