/* 内容区域左边导航 右边切换内容 */
.global-body .layui-nav-item:nth-child(2) a {
  font-size: 20px;
  color: #0b7b44;
}
.research-right-wrap .label {
  margin-top: 40px;
  color: #333;
  font-family: times new roman, serif;
  font-size: 19px;
  line-height: 32px;
  text-indent: 37px;
  @media (max-width: 1300px) {
    margin: 10px 0 0;
  }
}
