.global-banner .bg {
  background: url("../../img/global/footer-bg.png");
  background-size: 100% 100%;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.left-nav .layui-this a {
  color: #fff !important;
}

.info-label {
  margin: 10px 0;
}
