.right-wrap .cate-list {
  padding: 0 50px;
}
.right-wrap .cate-list .cate-item {
  margin: 50px 0;
}
.right-wrap .cate-list .cate-item h5 {
  color: #007306;
  font-size: 20px;
}
.right-wrap .cate-list .cate-item .name-list {
  margin: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 60px;
}
.right-wrap .cate-list .cate-item span {
  line-height: 40px;
}
.right-wrap .cate-list .cate-item span a {
  font-size: 16px;
}
.right-wrap .cate-list .cate-item span a:hover {
  color: #007306;
}

@media screen and (max-width: 1200px) {
  .right-wrap .cate-list {
    padding: 20px 0;
  }
  .right-wrap .cate-list .cate-item {
    margin: 0;
  }
  .right-wrap .cate-list .cate-item h5 {
    font-size: 22px;
  }
  .right-wrap .cate-list .cate-item .name-list {
    padding: 0;
  }
}
