/* banner图片 */

/* 内容区域 */
/* 面包屑 */
.con-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 300px;
  @media (max-width: 1300px) {
    width: 100%;
    padding: 0 0 30px;
  }
}

/* 姓名 */
.con-wrap .post-card-list {
  margin: 30px 0;
}
.con-wrap .post-title {
  color: #007e37;
  font-size: 18px;
  font-weight: 700;
  @media (max-width: 1300px) {
    text-align: center;
  }
}
.con-wrap .text-wrap {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.con-wrap .text-wrap a {
  margin: 10px 0;
  font-size: 18px;
  width: 380px;
  text-align: center;
}
